<form method="post" class="float-right" action="{{ path('tr_translation_unit_delete', {'id': tr_translation_unit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tr_translation_unit.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>