{% extends 'base.html.twig' %}

{% block title %}Translator - Edit translation unit{% endblock %}

{% block body %}
    <h1>Edit translation unit</h1>

    {{ include('backend/edit_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('tr_translation_unit_index') }}">back to list</a>

    {{ include('tr_translation_unit/_delete_form.html.twig') }}
{% endblock %}