{% extends 'base.html.twig' %}

{% block title %}Translator - Translation units{% endblock %}

{% block body %}
    <h1 class="float-left">Translation units</h1>

    <div class="pagerfanta float-right">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifier</th>
                <th>ContextText</th>
                <th>Project</th>
                <th>IsPublic</th>
                <th>ContextImage</th>
                <th>Tag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tr_translation_unit in pager.currentPageResults %}
            <tr>
                <td>{{ tr_translation_unit.id }}</td>
                <td>{{ tr_translation_unit.identifier }}</td>
                <td>{{ tr_translation_unit.contextText }}</td>
                <td>{{ tr_translation_unit.project }}</td>
                <td>{{ tr_translation_unit.isPublic ? 'Yes' : 'No' }}</td>
                <td>{{ tr_translation_unit.contextImage }}</td>
                <td>{{ tr_translation_unit.tag }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tr_translation_unit_show', {'id': tr_translation_unit.id}) }}">show</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tr_translation_unit_edit', {'id': tr_translation_unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta float-right">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
    </div>

    <a class="btn btn-success" href="{{ path('tr_translation_unit_new') }}">Create new</a>
{% endblock %}