{% extends 'base.html.twig' %}

{% block title %}Translator - New translation unit{% endblock %}

{% block body %}
    <h1>Create new translation unit</h1>

    {{ include('backend/edit_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('tr_translation_unit_index') }}">back to list</a>
{% endblock %}