{% extends 'base.html.twig' %}

{% block title %}Translator - Translation unit{% endblock %}

{% block body %}
    <h1>TrTranslation unit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tr_translation_unit.id }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ tr_translation_unit.identifier }}</td>
            </tr>
            <tr>
                <th>Context text</th>
                <td>{{ tr_translation_unit.contextText }}</td>
            </tr>
            <tr>
                <th>Context image</th>
                <td>{{ tr_translation_unit.contextImage }}</td>
            </tr>
            <tr>
                <th>Metadata</th>
                <td>{{ tr_translation_unit.metadata }}</td>
            </tr>
            <tr>
                <th>Is public</th>
                <td>{{ tr_translation_unit.isPublic }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tr_translation_unit.status }}</td>
            </tr>
            <tr>
                <th>Status updated at</th>
                <td>{{ tr_translation_unit.statusUpdatedAt ? tr_translation_unit.statusUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is marked</th>
                <td>{{ tr_translation_unit.isMarked }}</td>
            </tr>
            <tr>
                <th>Export file</th>
                <td>{{ tr_translation_unit.exportFile }}</td>
            </tr>
            <tr>
                <th>Export file 2</th>
                <td>{{ tr_translation_unit.exportFile2 }}</td>
            </tr>
            <tr>
                <th>Item order</th>
                <td>{{ tr_translation_unit.itemOrder }}</td>
            </tr>
            <tr>
                <th>Is deprecated</th>
                <td>{{ tr_translation_unit.isDeprecated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ tr_translation_unit.tag }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tr_translation_unit_edit', {'id': tr_translation_unit.id}) }}">edit</a>

    <a class="btn btn-secondary" href="{{ path('tr_translation_unit_index') }}">back to list</a>

    {{ include('tr_translation_unit/_delete_form.html.twig') }}
{% endblock %}