{% extends 'base.html.twig' %}

{% block title %}Translation edit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>From: {{ langRef.name }}</h2>
                {{ translationDataRef.text }}
            </div>
            <div class="col-4">
                <strong>Hing</strong>
                <p></p>
                <strong>Translation Suggestions</strong>
                <p>Here are some examples of translations that are similar to the word(s) you are trying to translate. You can click on one of these examples and it will be used as the translation.</p>
            </div>
        </div>

        <div>
            <div class="alert alert-warning">
                <strong>Approval of changes</strong>
                <p>By editing this string you mark it for approval. This string will be immediately hidden in other languages and will be shown again after approval of changes.</p>
                <p>Please indicate if the meaning of the string is changed and all existing translations have to be updated accordingly.</p>
            </div>
            <h2>To: {{ lang.name }}</h2>
            <div>
                <textarea name="" id="" cols="30" rows="10">
                    {{ translationData.text }}
                </textarea>
            </div>
        </div>
        <div>
            <h3>Applied filters</h3>
        </div>
        <div>
            <strong>TU status:</strong> &nbsp; {{ translationUnit.status }}<br>
            <strong>Translation status:</strong> &nbsp; {{ translationData.status ?? 'new' }}<br>
            <strong>Project:</strong> &nbsp; {{ translationUnit.project.name }}<br>
            <strong>Identifier:</strong> &nbsp; {{ translationUnit.identifier }}<br>
            <strong>Tag:</strong> &nbsp; {{ translationUnit.tag }}<br>
            <strong>Public:</strong> &nbsp; {% if translationUnit.isPublic == 1 %}Yes{% else %}No{% endif %}<br>
            <strong>Version:</strong> &nbsp; {{ translationData.version }}<br>
            <strong>Created at:</strong> &nbsp; {{ translationData.resourceVersion[0].createdAt|date('Y-m-d h:i:s') }}<br>
            <strong>Created by:</strong> &nbsp; {{ translationData.resourceVersion[0].createdBy }}<br>
        </div>
    </div>
{% endblock %}