{% extends 'base.html.twig' %}

{% block title %}List of translations{% endblock %}

{% block body %}
    <h1 class="float-left">Project {{ project.name }}</h1>
    <div class="pagerfanta float-right">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{ lang.name }}</th>
            <th>{{ langRef.name }}</th>
            <th>Identifier</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for translationUnit in translationUnits %}
            <tr>
                <td>
                    <a href="{{ path('translation_detail', {'lang': lang.code, 'translationUnit': translationUnit.id}) }}">{{ translationUnit.translationData[0].text|slice(0,100) }}</a>
                </td>
                <td>
                    {{ translationUnit.translationData[1].text|slice(0,100) }}
                </td>
                <td>
                    {{ translationUnit.identifier }}
                </td>
                <td>
                    {% if translationUnit.status is not empty and translationUnit.status != 'approved' %}
                        <span title="{{ translationUnit.status }}" class="{{ translationUnit.status }}">{{ translationUnit.status }}</span>
                    {% endif %}

                    {% if translationUnit.translationData[0].text is empty %}
                        <span title="New" class="new">New</span>
                    {% elseif constant('App\\Entity\\TrTranslationData::UPDATED') == translationUnit.translationData[0].status %}
                        <span title="Updated" class="updated">Updated</span>
                    {% endif %}

                    {% if 0 == translationUnit.isPublic%}
                        <span title="Not public" class="nonpublic">Not&nbsp;public</span>
                    {% endif %}

                    {% if 0 == translationUnit.isDeprecated%}
                        <span title="Old text" class="deprecated">&nbsp;</span>
                    {% endif %}

                    {% if translationUnit.translationData[0].prodVersion != translationUnit.translationData[1].prodVersion %}
                        <span title="Not production" class="nonproduction">Not&nbsp;production</span>
                    {% endif %}
                </td>
            </tr>
            <tr>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagerfanta float-right clearfix">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
    </div>
{% endblock %}