<form method="post" class="float-right" action="{{ path('sf_guard_group_delete', {'id': sf_guard_group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sf_guard_group.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>