{% extends 'base.html.twig' %}

{% block title %}Translator - Edit group{% endblock %}

{% block body %}
    <h1>Edit group</h1>

    {{ include('backend/edit_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('sf_guard_group_index') }}">back to list</a>

    {{ include('sf_guard_group/_delete_form.html.twig') }}
{% endblock %}