{% extends 'base.html.twig' %}

{% block title %}Translator - Group list{% endblock %}

{% block body %}
    <h1>Group list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sf_guard_group in sf_guard_groups %}
            <tr>
                <td>{{ sf_guard_group.id }}</td>
                <td>{{ sf_guard_group.name }}</td>
                <td>{{ sf_guard_group.description }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('sf_guard_group_show', {'id': sf_guard_group.id}) }}">show</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('sf_guard_group_edit', {'id': sf_guard_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sf_guard_group_new') }}">Create new</a>
{% endblock %}