{% extends 'base.html.twig' %}

{% block title %}Translator - New group{% endblock %}

{% block body %}
    <h1>Create new group</h1>

    {{ include('backend/edit_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('sf_guard_group_index') }}">back to list</a>
{% endblock %}