{% extends 'base.html.twig' %}

{% block title %}Translator - Group{% endblock %}

{% block body %}
    <h1>Group</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sf_guard_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sf_guard_group.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sf_guard_group.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sf_guard_group_edit', {'id': sf_guard_group.id}) }}">edit</a>

    <a class="btn btn-secondary" href="{{ path('sf_guard_group_index') }}">back to list</a>

    {{ include('sf_guard_group/_delete_form.html.twig') }}
{% endblock %}