<form method="post" class="float-right" action="{{ path('tr_project_delete', {'id': tr_project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tr_project.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>