{% extends 'base.html.twig' %}

{% block title %}Translator - Edit project{% endblock %}

{% block body %}
    <h1>Edit project</h1>

    {{ include('backend/edit_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('tr_project_index') }}">back to list</a>

    {{ include('tr_project/_delete_form.html.twig') }}
{% endblock %}