{% extends 'base.html.twig' %}

{% block title %}Translator - Projects{% endblock %}

{% block body %}
    <h1>Projects</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Is public</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tr_project in tr_projects %}
            <tr>
                <td>{{ tr_project.id }}</td>
                <td>{{ tr_project.name }}</td>
                <td>{{ tr_project.isPublic ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tr_project_show', {'id': tr_project.id}) }}">show</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tr_project_edit', {'id': tr_project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tr_project_new') }}">Create new</a>
{% endblock %}