{% extends 'base.html.twig' %}

{% block title %}Translator - New project{% endblock %}

{% block body %}
    <h1>Create new project</h1>

    {{ include('backend/edit_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('tr_project_index') }}">back to list</a>
{% endblock %}