{% extends 'base.html.twig' %}

{% block title %}Translator - Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tr_project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tr_project.name }}</td>
            </tr>
            <tr>
                <th>Metadata</th>
                <td>{{ tr_project.metadata }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tr_project.description }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ tr_project.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tr_project_edit', {'id': tr_project.id}) }}">edit</a>

    <a class="btn btn-secondary" href="{{ path('tr_project_index') }}">back to list</a>

    {{ include('tr_project/_delete_form.html.twig') }}
{% endblock %}