{% extends 'base.html.twig' %}

{% block title %}Edit SfGuardPermission{% endblock %}

{% block body %}
    <h1>Edit SfGuardPermission</h1>

    {{ include('backend/edit_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('sf_guard_permission_index') }}">back to list</a>

    {{ include('sf_guard_permission/_delete_form.html.twig') }}
{% endblock %}