{% extends 'base.html.twig' %}

{% block title %}Translator - Permission list{% endblock %}

{% block body %}
    <h1>Permission list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sf_guard_permission in sf_guard_permissions %}
            <tr>
                <td>{{ sf_guard_permission.id }}</td>
                <td>{{ sf_guard_permission.name }}</td>
                <td>{{ sf_guard_permission.description }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('sf_guard_permission_show', {'id': sf_guard_permission.id}) }}">show</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('sf_guard_permission_edit', {'id': sf_guard_permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sf_guard_permission_new') }}">Create new</a>
{% endblock %}