{% extends 'base.html.twig' %}

{% block title %}Translator - New permission{% endblock %}

{% block body %}
    <h1>Create new permission</h1>

    {{ include('backend/edit_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('sf_guard_permission_index') }}">back to list</a>
{% endblock %}