{% extends 'base.html.twig' %}

{% block title %}Translator - Permission{% endblock %}

{% block body %}
    <h1>Permission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sf_guard_permission.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sf_guard_permission.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sf_guard_permission.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sf_guard_permission_edit', {'id': sf_guard_permission.id}) }}">edit</a>

    <a class="btn btn-secondary" href="{{ path('sf_guard_permission_index') }}">back to list</a>

    {{ include('sf_guard_permission/_delete_form.html.twig') }}
{% endblock %}