{% extends 'base.html.twig' %}


{% block body %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">Total translated 7805 of 7862 strings (99 %)</div>
    </div>

    <div class="container-full">
        <div class="row">
        <div class="col-8">
            <h1>Projects available for translation</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <td style="border-top: 0 #FFFFFF">
                            <a href="#">Essential Webnode texts</a>
                        </td>
                        <td style="width: 10em; border-top: 0 #FFFFFF"></td>
                        <td style="width: 30%; border-top: 0 #FFFFFF"></td>
                    </tr>
                    <tr>
                        <td style="border-top: 0 #FFFFFF" colspan="3">
                            These are the most basic texts of the Webnode system, which are essential for running localized version
                        </td>
                    </tr>

                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{{ path('translation_list', {'lang': 'cz', 'project': project.id}) }}">{{ project.name }}</a></td>
                            <td>Untranslated <span class="badge badge-secondary">8</span></td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 0 #FFFFFF" colspan="3">{{ project.description|raw }}</td><!--todo zrušit inline styly-->
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Translation guidelines</h2>
            <ol>
                <li>Use common terminology used in other, similar systems.</li>
                <li>Try to use uniform terminology across all texts and projects (e.g. if you use the term "Login" somewhere, it is not recommended to use term "Sign in" in other places).</li>
                <li>If there are HTML tags in the source text, then keep them also in your translated text (e.g. "&lt;strong&gt;User&lt;/strong&gt;" should be translated as "&lt;strong&gt;Uživatel&lt;/strong&gt;").</li>
                <li>In some texts, there are special parts like "%0%", "%s" or "__PROJECT_NAME__" and more. Always keep this parts in your translated text.</li>
                <li>You can see several projects on the left. The projects stand for the groups of texts and each of these groups is used in different part of system (e.g. "Frontend" project contains texts and messages used on the website - for example "Search" or "Menu" labels, etc.)</li>
            </ol>
        </div>
        </div>
    </div>
{% endblock %}