<form class="float-right" method="post" action="{{ path('tr_lang_delete', {'id': tr_lang.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tr_lang.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>