{% extends 'base.html.twig' %}

{% block title %}Translator - Edit language{% endblock %}

{% block body %}
    <h1>Edit language</h1>

    {{ include('backend/edit_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('tr_lang_index') }}">back to list</a>

    {{ include('tr_lang/_delete_form.html.twig') }}
{% endblock %}