{% extends 'base.html.twig' %}

{% block title %}Translator - Available languages{% endblock %}

{% block body %}
    <h1>Available languages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Name local</th>
                <th>Backend active</th>
                <th>Beta testing</th>
                <th>Item order</th>
                <th>Is locked</th>
                <th>Export lang</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tr_lang in tr_langs %}
            <tr>
                <td>{{ tr_lang.id }}</td>
                <td>{{ tr_lang.name }}</td>
                <td>{{ tr_lang.code }}</td>
                <td>{{ tr_lang.nameLocal }}</td>
                <td>{{ tr_lang.backendActive ? 'Yes' : 'No' }}</td>
                <td>{{ tr_lang.betaTesting ? 'Yes' : 'No' }}</td>
                <td>{{ tr_lang.itemOrder }}</td>
                <td>{{ tr_lang.isLocked ? 'Yes' : 'No' }}</td>
                <td>{{ tr_lang.exportLang ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tr_lang_show', {'id': tr_lang.id}) }}">show</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tr_lang_edit', {'id': tr_lang.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tr_lang_new') }}">Create new</a>
{% endblock %}