{% extends 'base.html.twig' %}

{% block title %}Translator - New language{% endblock %}

{% block body %}
    <h1>Create new language</h1>

    {{ include('backend/edit_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('tr_lang_index') }}">back to list</a>
{% endblock %}