{% extends 'base.html.twig' %}

{% block title %}Translator - Language{% endblock %}

{% block body %}
    <h1>Language</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tr_lang.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tr_lang.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tr_lang.name }}</td>
            </tr>
            <tr>
                <th>NameLocal</th>
                <td>{{ tr_lang.nameLocal }}</td>
            </tr>
            <tr>
                <th>BackendActive</th>
                <td>{{ tr_lang.backendActive }}</td>
            </tr>
            <tr>
                <th>BetaTesting</th>
                <td>{{ tr_lang.betaTesting }}</td>
            </tr>
            <tr>
                <th>ItemOrder</th>
                <td>{{ tr_lang.itemOrder }}</td>
            </tr>
            <tr>
                <th>RubicusId</th>
                <td>{{ tr_lang.rubicusId }}</td>
            </tr>
            <tr>
                <th>IsLocked</th>
                <td>{{ tr_lang.isLocked ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ExportLang</th>
                <td>{{ tr_lang.exportLang ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tr_lang_edit', {'id': tr_lang.id}) }}">edit</a>

    <a class="btn btn-secondary" href="{{ path('tr_lang_index') }}">back to list</a>


    {{ include('tr_lang/_delete_form.html.twig') }}
{% endblock %}