{% extends 'base.html.twig' %}

{% block title %}Translator - User list{% endblock %}

{% block body %}
    <h1>User list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Created at</th>
                <th>Last login</th>
                <th>Is active</th>
                <th>Is superAdmin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sf_guard_user in sf_guard_users %}
            <tr>
                <td>{{ sf_guard_user.id }}</td>
                <td>{{ sf_guard_user.username }}</td>
                <td>{{ sf_guard_user.createdAt ? sf_guard_user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sf_guard_user.lastLogin ? sf_guard_user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sf_guard_user.isActive }}</td>
                <td>{{ sf_guard_user.isSuperAdmin }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('sf_guard_user_show', {'id': sf_guard_user.id}) }}">show</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('sf_guard_user_edit', {'id': sf_guard_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sf_guard_user_new') }}">Create new</a>
{% endblock %}