{% extends 'base.html.twig' %}

{% block title %}Translator - User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sf_guard_user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ sf_guard_user.username }}</td>
            </tr>
            <tr>
                <th>Algorithm</th>
                <td>{{ sf_guard_user.algorithm }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ sf_guard_user.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ sf_guard_user.password }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sf_guard_user.createdAt ? sf_guard_user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LastLogin</th>
                <td>{{ sf_guard_user.lastLogin ? sf_guard_user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ sf_guard_user.isActive }}</td>
            </tr>
            <tr>
                <th>IsSuperAdmin</th>
                <td>{{ sf_guard_user.isSuperAdmin }}</td>
            </tr>
            <tr>
                <th>RefLang</th>
                <td>{{ sf_guard_user.refLang }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sf_guard_user_edit', {'id': sf_guard_user.id}) }}">edit</a>

    <a class="btn btn-secondary" href="{{ path('sf_guard_user_index') }}">back to list</a>

    {{ include('sf_guard_user/_delete_form.html.twig') }}
{% endblock %}