<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Webnode Translator{% endblock %}</title>
        <style>
            body {
                padding-top: 5rem;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ path('homepage') }}">Translator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 20}) }}">Administration</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 3}) }}">Backend</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 10}) }}">Blog (www.webnode.com/blog)</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 6}) }}">Blueboard API</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 12}) }}">Branch Web</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 23}) }}">CMS</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 22}) }}">CMS - Header Editor</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 29}) }}">Error 404 page</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 26}) }}">Error Page</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 30}) }}">Error Page - disabled/deleted project</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 1}) }}">Frontend</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 5}) }}">Help</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 19}) }}">Import</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 27}) }}">Kayako</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 21}) }}">Legacy CMS</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 9}) }}">Legacy Portal </a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 11}) }}">Mobile version</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 13}) }}">Portal 2010 (www.webnode.com)</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 28}) }}">Text editor</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 24}) }}">Trash</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 34}) }}">W2 - Automatic emails</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 32}) }}">W2 - CMS</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 31}) }}">W2 - Default content</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 33}) }}">W2 - FE</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 35}) }}">W2 - Portal</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 37}) }}">W2 - Templates</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 36}) }}">W2 - Wizard</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 8}) }}">Webmail</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 25}) }}">Webnode Secure</a>
                            <a class="dropdown-item" href="{{ path('translation_list', {'lang': 'cz', 'project': 4}) }}">Webnode.com</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quick links</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item untranslated" href="/translation/list/lang/cz/status/untranslated">Untranslated <span class="badge badge-secondary">41</span></a>
                            <a class="dropdown-item updated" href="/translation/list/lang/cz/status/updated">Updated <span class="badge badge-secondary">16</span></a>
                            <a class="dropdown-item check_cz" href="/translation/list/lang/cz/status/check_cz">For czech correction <span class="badge badge-secondary">42</span></a>
                            <a class="dropdown-item translate" href="/translation/list/lang/en/status/translate">For english translation <span class="badge badge-secondary">17</span></a>
                            <a class="dropdown-item check_en" href="/translation/list/lang/en/status/check_en">For english correction <span class="badge badge-secondary">16</span></a>
                            <a class="dropdown-item approval" href="/translation/list/lang/cz/status/approval">For approval <span class="badge badge-secondary">474</span></a>
                            <a class="dropdown-item createLink" href="/tu/create/lang/cz">Create new</a>
                            <a class="dropdown-item export" href="/export">Export</a>
                            <a class="dropdown-item import" href="/import">Import</a>
                            <a class="dropdown-item check_files" href="/check">Check translation files</a>
                            <a class="dropdown-item unlaunched_texts" href="/unlaunched">Unlaunched texts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Backend</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{ path('tr_lang_index') }}">Languages</a>
                            <a class="dropdown-item" href="{{ path('tr_translation_unit_index') }}">Translation units</a>
                            <a class="dropdown-item" href="{{ path('tr_project_index') }}">Projects</a>
                            <a class="dropdown-item" href="{{ path('sf_guard_user_index') }}">Users</a>
                            <a class="dropdown-item" href="{{ path('sf_guard_group_index') }}">User groups</a>
                            <a class="dropdown-item" href="{{ path('sf_guard_permission_index') }}">User permission</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container-fluid">
            {% block body %}{% endblock %}

        </main>

        <footer class="footer">
            <div class="container-full">
                <div class="col-2 mx-auto">
                    <span class="text-muted text-center">© 2018 <a href="http://www.webnode.com">webnode.com</a></span>
                </div>
            </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
